<div class='container' id="signup">
    <div class='row'>
        <div class='col-md-6'>
            <img class="img img-thumbnail" id="band-photo" src="https://irp-cdn.multiscreensite.com/54dd4fba/dms3rep/multi/desktop/13eb0f5dc15e4ca38471cc19bdfaf90a-800x533.dm.edit_hX3Lqr.jpg">
        </div>
        <div class='col-md-6'>
            <h2>Welcome!</h2>
            <h4>Please enter some questions to get started:</h4>

            <form class="signup-form">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" class="form-control" id="age" name="age">
                </div>

                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>

                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" id="state" name="state">
                </div>

                <div class="form-group">
                    <label for="zip">State:</label>
                    <input type="text" class="form-control" id="zip" name="zip">
                </div>

                <button type="submit" class="btn btn-primary">Submit!</button>
            </form>
        </div>
    </div>
</div>