<div class='container' id="signup">
    <div class='row'>
        <div class='col-md-12'>

            <h4>Now, let's see what you're looking for:</h4>

            <form class="signup-form">

                <div class="form-group">
                    <label for="size">How many people would you like to jam with:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="size">Just one other person</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="size">2-3 other people </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="size">4+ other people</label>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Submit!</button>
            </form>
        </div>
    </div>
</div>